<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="light">
  <div class="container-fluid">
    <h1 class="navbar-brand navbar-brand-autodark">
      <a href="{{ path('admin_dashboard') }}">Fin-Plan · Admin</a>
    </h1>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if app.request.get('_route') starts with 'admin_dashboard' %}active{% endif %}"
             href="{{ path('admin_dashboard') }}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="nav-link-title">Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
