<div class="row g-3 align-items-end">
    <div class="col-md-5">
        {{ form_row(operationForm.category) }}
    </div>
    <div class="col-md-3">
        {{ form_row(operationForm.amount) }}
    </div>
    <div class="col-md-4">
        {{ form_row(operationForm.counterparty) }}
    </div>
</div>
{{ form_row(operationForm.comment) }}
