{% extends 'base.html.twig' %}

{% block title %}Покрытие ingestion{% endblock %}

{% block content %}
    {% include 'ingestion/verification/_tabs.html.twig' with {
        title: 'Покрытие ingestion',
        activeTab: 'ingestion_verification_coverage',
    } %}

    <div
        id="ingestion-verification-coverage-root"
        data-vite-entry="ingestion_verification_coverage_page"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('ingestion_verification_coverage_page') }}
{% endblock %}
