{% extends 'base.html.twig' %}
{% block title %}Новое автоправило{% endblock %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">Новое автоправило</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl mt-3">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-3">Сохранить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
