{% extends 'moy_sklad/layout.html.twig' %}

{% set active_tab = 'overview' %}

{% block tab_content %}
    <div class="p-3">
        <div class="text-secondary">Модуль МойСклад</div>
    </div>
{% endblock %}
