{% extends 'base.html.twig' %}

{% block title %}Счета{% endblock %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">Денежные счета</h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <a href="{{ path('money_account_new') }}" class="btn btn-primary">Добавить счёт</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl mt-3">
        <div class="card">
            <div class="card-body">
                <table class="table table-vcenter">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Тип</th>
                            <th>Валюта</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for acc in accounts %}
                        <tr>
                            <td>{{ acc.name }}</td>
                            <td>{% include 'profile/money_account/_type_badge.html.twig' with { type: acc.type.value } only %}</td>
                            <td>{{ acc.currency }}</td>
                            <td class="text-end">
                                <a href="{{ path('money_account_edit', {'id': acc.id}) }}" class="btn btn-icon" title="Редактировать">
                                    <i class="ti ti-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center text-secondary">Счета ещё не добавлены.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
