{% extends 'base.html.twig' %}

{% block title %}Новый счёт{% endblock %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">Новый денежный счёт</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl mt-3">
        {% include 'profile/money_account/_form.html.twig' with {'form': form, 'button_label': 'Создать'} %}
    </div>
{% endblock %}
