{% set labelClassMap = {
    'error': 'danger',
    'notice': 'info',
    'alert': 'warning',
} %}

{% for label, messages in app.flashes %}
    {% set bootstrapLabel = labelClassMap[label]|default(label) %}
    {% for message in messages %}
        <div class="alert alert-{{ bootstrapLabel }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endfor %}

