{% set ads_active = current_route starts with 'marketplace_ads_efficiency' %}
<li class="nav-item {{ ads_active ? 'active' : '' }}">
    <a class="nav-link {{ ads_active ? 'active' : '' }}" href="{{ path('marketplace_ads_efficiency_index') }}" title="Реклама">
        <span class="nav-link-icon"><i class="ti ti-speakerphone"></i></span>
        <span class="nav-link-title hide-when-collapsed">Реклама</span>
    </a>
</li>
