{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="page-header d-print-none mb-3">
    <div class="container-xl">
      <h2 class="page-title">Dashboard</h2>

    </div>
  </div>

  <div class="container-xl">
    <div id="react-dashboard-started" data-default-preset="month"></div>
  </div>
{% endblock %}
