<!-- @uiKit v2.1 -->

        <div class="demo" style="padding:0; display:block;">
          <table class="t-table">
            <thead>
              <tr>
                <th>Артикул</th>
                <th class="u-text-right">Выручка</th>
                <th class="u-text-right">Кол-во</th>
                <th class="u-text-right">Прибыль</th>
                <th class="u-text-right">Маржа</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>ЦРМ250-1С</td><td class="t-cell--right">1&thinsp;430&thinsp;805&nbsp;₽</td><td class="t-cell--right">450</td><td class="t-cell--right">288&thinsp;160&nbsp;₽</td><td class="t-cell--right" style="color:var(--success-text);">20,1%</td></tr>
              <tr><td>ОКЛ50К</td><td class="t-cell--right">977&thinsp;323&nbsp;₽</td><td class="t-cell--right">1&thinsp;144</td><td class="t-cell--right">191&thinsp;430&nbsp;₽</td><td class="t-cell--right">19,6%</td></tr>
              <tr><td>ЦРМ250-100</td><td class="t-cell--right">949&thinsp;613&nbsp;₽</td><td class="t-cell--right">1&thinsp;251</td><td class="t-cell--right">102&thinsp;855&nbsp;₽</td><td class="t-cell--right" style="color:var(--danger-text);">10,8%</td></tr>
              <tr class="t-row--totals">
                <td><span class="t-totals-label">ИТОГО</span> <span class="t-totals-meta">· 3 SKU</span></td>
                <td class="t-cell--right t-totals-strong">3&thinsp;357&thinsp;741&nbsp;₽</td>
                <td class="t-cell--right">2&thinsp;845</td>
                <td class="t-cell--right t-totals-strong">582&thinsp;445&nbsp;₽</td>
                <td class="t-cell--right">17,3%</td>
              </tr>
            </tbody>
          </table>
        </div>
