{% extends 'base.html.twig' %}
{% block title %}Импорт выписки{% endblock %}

{% block breadcrumbs %}
    {% include 'partials/_breadcrumbs.html.twig' with {
        breadcrumbs: [
            {'label':'Главная','path':'app_home_index'},
            {'label':'Финансы'},
            {'label':'Транзакции','path':'cash_transaction_index'},
            {'label':'Импорт'}
        ]
    } %}
{% endblock %}

{% block content %}
    <h2 class="page-title mb-3">Импорт выписки</h2>
    {{ form_start(form) }}
        {{ form_row(form.file) }}
        <button class="btn btn-primary">Загрузить</button>
    {{ form_end(form) }}
{% endblock %}
