<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Admin · {{ app.request.host }}{% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.39.0/tabler-icons.min.css"/>

  {% block admin_styles %}{% endblock %}
</head>
<body class="layout-fluid">
  <div class="page">
    {% include 'admin/partials/_sidebar.html.twig' %}
    <div class="page-wrapper">
      {% include 'admin/partials/_header.html.twig' %}

      <div class="page-body">
        <div class="container-xl">
          {% block body %}{% endblock %}
        </div>
      </div>

      {% include 'admin/partials/_footer.html.twig' %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/js/tabler.min.js"></script>
  {% block admin_scripts %}{% endblock %}
</body>
</html>
