{% extends 'base.html.twig' %}
{% block title %}Редактирование статьи ДДС{% endblock %}
{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <h2 class="page-title">Редактирование {{ article.name }}</h2>
        </div>
    </div>
    <div class="container-xl mt-3">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-2">Сохранить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
