<!DOCTYPE html>
<html>
  <body>
    <p>Здравствуйте!</p>
    <p>
      {% if company is defined and company.name is defined and company.name %}
        Компания {{ company.name }} успешно зарегистрирована.
      {% else %}
        Регистрация прошла успешно.
      {% endif %}
    </p>
    <p>Вы можете войти в систему, используя ваш email: {{ user.email }}.</p>
  </body>
</html>
