<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home_index')|default('javascript:void(0)') }}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Дашборд</li>
    </ol>
</nav>
