<footer class="footer footer-transparent d-print-none">
    <div class="container-fluid">
        <div class="text-muted text-center py-3">
            © 2025 Ваш ФинДиректор • Demo base page (Tabler)
        </div>
    </div>
</footer>
