{% extends 'base.html.twig' %}

{% block title %}Юнит-экономика — Аналитика маркетплейсов{% endblock %}

{% block content %}
    {% include 'marketplace_analytics/_tabs.html.twig' with { activeTab: 'analytics' } %}

    <div class="page-body">
        <div class="container-xl">
            <div class="tab-content">
                <div class="tab-pane active show">
                    <div
                        id="react-marketplace-analytics"
                        data-default-marketplace="wildberries"
                    ></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('marketplace_analytics_page') }}
{% endblock %}
